<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:py-28 sm:px-6 lg:px-8 xl:py-32 xl:px-28">
  <div class="mx-auto max-w-xl lg:mx-0">
    <Heroicons.link class="h-24" />
    <h1 class="mt-10 text-[2rem] font-semibold leading-10 tracking-tighter text-zinc-900">
      Bookmarkku
    </h1>
    <p class="mt-4 flex items-center text-sm font-semibold leading-6 text-brand">
      Bookmarking for introverts.
    </p>
  </div>
</div>
